@import "tailwindcss";

@font-face {
  font-family: 'alagardmedium';
  src: url('~/assets/fonts/alagard.woff2') format('woff2'),
  url('~/assets/fonts/alagard.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pixel_operatorregular';
  src: url('~/assets/fonts/pixeloperator.woff2') format('woff2'),
  url('~/assets/fonts/pixeloperator.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "pixel_operatorregular";
  --font-serif: "alagardmedium";
}

@keyframes hashima-logo {
  0% {
    stroke-dashoffset: 4000;
  }

  50% {
    stroke-dashoffset: 0;
  }

  75% {
    stroke-dashoffset: 4000;
  }
}

@keyframes slide-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  font-weight: normal;
  font-style: normal;
}

body::before {
  background-image: url('~/assets/images/noise.gif');
  background-repeat: repeat;
  background-position: center center;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: .05;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

.max-w-14xl {
  max-width: 160rem;
}

.pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.pattern-hover:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.pixelated {
  image-rendering: pixelated;
}

.router-link-active {
  @apply text-red-500;
}

#hashima {
  stroke-dasharray: 2000;
  stroke-dashoffset: 4000;
  animation: hashima-logo 26666ms cubic-bezier(0.2, 1, 0.2, 1) infinite;

  line,
  polyline,
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 50;
  }
}

.player-title {
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--color-zinc-900) 25%, var(--color-zinc-900) 75%, rgba(0, 0, 0, 0) 100%);
}

.player-title p {
  animation: slide-x 10s linear infinite;
  white-space: nowrap;
}

.playlist li.active {
  @apply bg-red-900/50 text-white;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
}

input[type="range"]:focus {
 outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-zinc-700;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  @apply bg-white;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px;
  height: 2rem;
  width: 0.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  @apply border border-white;
  outline: 1px solid #fff;
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  @apply bg-zinc-700;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  @apply bg-white;
  border: none;
  border-radius: 0;
  height: 2rem;
  width: 0.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
  @apply border border-white;
  outline: 1px solid #fff;
  outline-offset: 0.125rem;
}
